/*
0-600px: Phone
600-900px: Tablet portrait
900-1200px: Tablet landscape
1200-1800: normal
1800+: big desktop
*/
/*
- Phone
- tab-port
- tab-land
- big-desktop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-bottom: 4rem; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 4rem; } }

body {
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  /* padding: 30px; */
  font-family: 'Lato', sans-serif; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: uppercase; }

.heading-info {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 2rem 20rem; }

.paragraph {
  font-size: 2.0rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-10 {
  margin-bottom: 10rem; }

.u-margin-bottom-5 {
  margin-bottom: 5rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.u-margin-top-5 {
  margin-top: 5rem; }

.u-moveup-10 {
  transform: translate(10rem 0); }

.u-padding-top-4 {
  padding-top: 4rem; }

.u-font-size-15 {
  font-size: 1.5rem; }

.u-font-size-2 {
  font-style: 2rem; }

.u-padding-10 {
  padding: 10rem 0; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.8rem;
  color: #55c57a;
  display: inline;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.blog-btn {
  position: relative;
  text-align: center;
  color: #fff;
  text-decoration: none; }
  .blog-btn__image {
    background-size: cover;
    height: 25rem;
    width: 25rem;
    filter: brightness(40%); }
    .blog-btn__image:hover {
      filter: brightness(100%); }
  .blog-btn__title {
    text-decoration: none;
    font-size: 1.5rem;
    position: absolute;
    bottom: 18rem; }
  .blog-btn__hr {
    bottom: 16rem;
    position: relative;
    border: 1px solid #fff;
    width: 25%;
    margin: auto;
    text-align: center; }
  .blog-btn__date {
    bottom: 14rem;
    position: relative;
    font-size: 1.2rem; }
  .blog-btn__author {
    bottom: 13rem;
    position: relative;
    font-size: 1.2rem; }
  .blog-btn:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem; }
  .card__side {
    height: 45rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: soft-light;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/podcast.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/blog.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  @media (max-width: 56.25em) {
    .card {
      height: auto; }
      .card__side {
        height: auto;
        position: relative;
        border-radius: 3px; }
        .card__side--back {
          transform: rotateY(0); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        text-align: center;
        padding: 3rem 0; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 1rem;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 1rem;
          left: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 5rem;
      top: 1rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          right: 0;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.2); } }
    .composition__photo:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 5rem;
    margin-bottom: 1rem; }
  .feature-box__iconPlay {
    font-size: 3rem;
    margin-top: 1rem;
    color: #55c57a; }
    .feature-box__iconPlay:hover {
      color: #28b485; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.3rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(0) skewX(0); } }
  .story__image {
    height: 100%;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
    color: #fff; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }

.support-box {
  position: relative;
  text-align: center; }
  .support-box__image {
    margin-top: 2rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/mainHeader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 7.5rem; }
  .header__text-box {
    position: absolute;
    white-space: nowrap;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.header2 {
  height: 50vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative; }
  .header2__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header2__logo {
    height: 7.5rem; }
  .header2__text-box {
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #333;
  padding: 5rem 0;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
  color: grey; }
  .footer__info {
    padding: 2rem 0; }
    .footer__info--list {
      text-decoration: none;
      color: grey; }
      .footer__info--list:hover {
        color: #55c57a; }
  .footer__icon {
    padding: 0 1rem;
    font-size: 3rem; }
    .footer__icon:hover {
      color: #55c57a; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  weight: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  transition: all .8s;
  display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.4rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background-size: cover;
  margin-top: -10rem;
  position: relative; }
  .section-features__textbox {
    position: absolute;
    white-space: nowrap;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-tours {
  background-color: #f7f7f7;
  padding: 10rem 0 20rem 0; }

.section-testimony {
  padding: 5rem 0;
  background-color: #f7f7f7;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/brooklyn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative; }

.section-support {
  background-color: #f7f7f7;
  padding: 17rem 0; }

.about-main {
  padding: 10rem 0;
  background-color: #fff; }
  .about-main --tabs {
    text-align: center !important; }

/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 2px solid #d4d4d4;
  border-width: 75%;
  text-align: center;
  margin-bottom: 1rem; }

/* Style the buttons that are used to open the tab content */
.tab button {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #d4d4d4;
  margin: 0 1rem; }

/* Change background color of buttons on hover */
.tab button:hover {
  color: black;
  border-bottom: 2px solid black; }

/* Create an active/current tablink class */
.tab button.active {
  color: black;
  border-bottom: 2px solid black; }

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0 10rem;
  border: none;
  border-top: none;
  text-align: center; }
  .tabcontent__heading {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    padding: 4rem 0;
    letter-spacing: .5rem; }
  .tabcontent__hr {
    text-align: center;
    border: 5px solid #55c57a;
    width: 15%;
    margin: auto auto 4rem auto; }
  .tabcontent__info {
    font-size: 2rem;
    color: black; }

.about-board {
  padding: 10rem 0;
  background-color: #f7f7f7;
  text-align: center; }

.collapsible {
  background-color: #55c57a;
  margin-top: 2rem;
  color: white;
  cursor: pointer;
  padding: 1.8rem;
  width: 75%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold; }
  .collapsible__content {
    padding: 0 1.8rem;
    font-size: 1.5rem;
    width: 75%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #f1f1f1;
    margin: auto; }

.active, .collapsible:hover {
  background-color: #fff;
  color: #55c57a; }

.about-advisory {
  padding: 10rem 0;
  background-color: #fff;
  text-align: center; }
  .about-advisory--people {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem; }

.join-main {
  background-color: #f7f7f7;
  padding: 15rem 0;
  text-align: center; }

.testimonial1 {
  padding: 5rem 0;
  background-color: #f7f7f7;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/brooklyn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative; }

.testimonial2 {
  padding: 5rem 0;
  background-color: #f7f7f7;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/brooklyn2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative; }

.section-podcast {
  padding: 5rem 0; }

.section-blog {
  padding: 5rem 0; }

.section-scholarships {
  padding: 10rem 0;
  text-align: center;
  background-color: #f7f7f7; }

.scholarship-content__text {
  font-size: 2rem; }

.pagination {
  position: absolute;
  text-align: center;
  display: inline-block;
  transform: translateX(-50%);
  padding: 5rem 0; }

.pagination a {
  color: black;
  float: left;
  padding: 1rem 2rem;
  text-decoration: none; }

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px; }

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px; }

.section-vc {
  padding: 10rem 0; }

.section-events {
  padding: 10rem 0;
  background-color: #f7f7f7; }

.vc-link {
  padding: 1rem 0; }

.forbes-img {
  width: 15%;
  padding-bottom: 1rem; }

.upcoming-events {
  padding-bottom: 5rem; }

.past-events {
  padding-bottom: 5rem; }

.event-link {
  font-size: 1.5rem;
  padding: 1rem 0; }
